

.container
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					= link_to 'Contact Admin', admin_contacts_path
				%li
					%strong
						= @contact.contact_type || 'contact'
						From
						= @contact.email

	= form_for @contact do |f|
		%fieldset{ disabled: true }
			.row
				.col-xs-8
					.form-group
						= f.text_field :email, class: 'form-control disabled'

					.form-group
						.input-group
							= f.label :subject
							= f.text_field :subject, class: 'form-control disabled'

					.form-group
						= f.label :message
						= f.text_area :message, class: 'form-control disabled', rows: 4


				.col-xs-4
					-#.boxFocus
						.form-group
							= f.label :user_id, 'Author'
							= f.collection_select :user_id, User.godmins, :id, :name, {}, class: 'form-control'
						.form-group
							= f.label :publish_at
							= f.text_field :publish_at, class: 'form-control datepicker'
						.form-group
							= f.label :status
							= f.select :status, [[ 'draft', 'draft' ], [ 'active', 'active' ], [ 'disabled', 'disabled' ] ], {}, class: 'form-control'
						.form-group
							= f.label :tag_list, 'Tags:'
							= f.text_field :tag_list, placeholder: 'Separate tags with commas', class: 'form-control'
						.form-group
							= f.check_box :is_commentable, {}, 'true', 'false'
							Allow Comments?
						.form-group
							= f.submit 'Update', class: 'btn btn-primary'