
.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					= link_to 'Category Admin', category_admin_index_path
				%li
					%strong
						Edit
						= @category.name
	
	= form_for @category, as: :category, url: category_admin_path( @category ) do |f|
	
		.row
			.col-xs-8
				.form-group
					= f.text_field :name, class: 'form-control'
				
				.form-group
					= f.label :avatar
					.col-sm-4
						= image_tag @category.avatar, class: 'img img-responsive'
					.col-sm-8
						= f.text_field :avatar, class: 'form-control'
					.clearfix


				.form-group
					= f.label :description
					= f.text_area :description, class: 'form-control', rows: 4


			.col-xs-4
				.boxFocus
					.form-group
						= f.label :status
						= f.collection_select :status, SwellMedia::Category.statuses, :first, :first, {}, class: 'form-control'
					.form-group
						= f.submit 'Update', class: 'btn btn-primary'