

.container-fluid
	.row
		.col-xs-10
			%ul.breadcrumb
				%li
					= link_to 'Admin', admin_index_path
				%li
					%strong
						Page Admin
		.col-xs-2
			%a.btn.btn-success{ data: { toggle: :modal, target: '#new_page' } }
				%i.fa.fa-plus-square
				New
	
	.row
		.col-xs-6
			= raw paginate @pages
		.col-xs-6
			= form_tag admin_pages_path, method: :get, class: 'pull-right form-inline' do
				= text_field_tag :q, params[:q], class: 'form-control'
				= submit_tag 'Search', class: 'btn btn-primary'
				= link_to 'Clear', admin_pages_path, class: 'btn btn-default btn-xs'

	.row
		.col-xs-12
			%table.table
				%thead
					%th
					%th 
						URL
						%a{ href: admin_pages_path( sort_by: 'slug', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_pages_path( sort_by: 'slug', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th 
						Publish At
						%a{ href: admin_pages_path( sort_by: 'publish_at', sort_dir: 'asc' ) }
							%i.fa.fa-arrow-up
						%a{ href: admin_pages_path( sort_by: 'publish_at', sort_dir: 'desc' ) }
							%i.fa.fa-arrow-down
					%th Status
					%th
				%tbody
					- @pages.each do |page|
						%tr
							%td
								= link_to page.title, edit_page_path( page.id )
							%td
								= page.slug
							%td
								= page.publish_at.to_s( :slashed_time )
							%td
								.badge{ class: page.status }
									= page.status
							%td
								.btn-group
									%button.btn.btn-mini.btn-default.dropdown-toggle{ data: { toggle: :dropdown } }
										%i.fa.fa-cog
										%b.caret
									%ul.dropdown-menu
										%li
											%a{ href: edit_page_path( page.id ) }
												%i.fa.fa-pencil
												Edit
										%li
											%a{ href: preview_page_path( page.id ) }
												%i.fa.fa-eye
												Preview
										%li.divider
										%li
											%a{ href: page_path( page ), data: { method: 'delete', confirm: 'Are you sure?' } }
												%i.fa.fa-trash-o
												Delete!




= render 'new_modal'