!!!strict
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
//[if gt IE 8] <html class="no-js">
%html{ lang: :en }
	%head
		= render 'application/html_head', args: {}
		= stylesheet_link_tag "swell_media/admin", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "swell_media/admin"

		= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css'

	
	%body
		= render 'application/fb_js_sdk'
		%header#header
			= render 'admin/navbar'

		%section#main{ style: 'margin-top:4em;' }
			= render 'application/flash'
			= yield
		%br
		%br

		%footer#footer
			= render 'application/footer'